*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
.hero{
    background-color: #1d2026;
    min-height: 100vh;
    width: 100%;
    color: #fff;
    position: relative;
    nav{
        display: flex;
        padding: 20px 8%;
       
        align-items: center;
        .menu{
            width: 25px;
            margin-right: 20px;
            cursor: pointer;
        }
        .logo{
            width: 160px;
            cursor: pointer;

        }

    ul{
        flex: 1;
        text-align: right;       
       
        li{
            display: inline-block;
            list-style: none;
            margin: 0px 20px ;
            a{
                text-decoration: none;
                color: #fff;
                
            }
        }
    }
    button{
        background: #efefef;
        height: 30px;
        width: 60px;
        border-radius: 20px;
        padding: 0px;
        outline: 0;
        cursor: pointer;
        span{
            display: block;
            background-color: #999;
            height: 26px;
            width: 26px;
            border-radius: 50%;
            margin-left: 2px;
        }
    }
}
}

.menu{
    
}
body{
    background-color: black;
}